In [1]:
# The code was removed by Watson Studio for sharing.

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20201027213113-0000
KERNEL_ID = 4d96732c-7473-4532-92df-a4d5bc0d8d99

               Team           Player      Salary Position
0  New York Yankees    Acevedo, Juan     900,000  Pitcher
1  New York Yankees  Anderson, Jason     300,000  Pitcher
2  New York Yankees   Clemens, Roger  10,100,000  Pitcher
3  New York Yankees  Contreras, Jose   5,500,000  Pitcher
4  New York Yankees   Flaherty, John     750,000  Catcher